:root{
  --breakpoint-desktop : 1260px;
  --breakpoint-tablet : 960px;
  --breakpoint-movil : 480px;

}



body{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




